*{
    margin:0;
    padding:0;
}
body{
    margin-top: 30px;
    height:100vh ;
    width:90vw;
    background-color: rgb(210, 194, 206);
    background-image: url(https://cff2.earth.com/uploads/2017/03/28181116/shutterstock_549728485.jpg);
    
    
}
#box{
    width:50%;
    margin:auto;
    border-radius: 30px;
    background-color: ivory;
    box-shadow: rgba(0, 0, 0, 0.406) 0px 22px 70px 4px;
}

#main_div
{
    justify-content:center;
    color: black;
    height:60%;
}

#column{
    display: flex;
}
#row{
    font-weight: serif;
}

label{
    font-weight: bold;
    margin: 1rem 3rem;
    font-size: large;

}
#headeris{
    margin: 1rem;
    font-size: 2rem;
    text-align: center;
    font-weight: bold;
    height:16vh;
    margin-top: 20px;
    
}

#container{
    margin-top: 20px;
}

input,select{
    padding:3%;
    margin: 1rem 3rem;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
}
#btn1{
    
    margin: 20px 70px;
    padding:15px 55px;
    background-color: lightblue;
    color:white;
    font-weight: serif;
    border:none;
    font-size: 30px;
    border-radius: 15px;
    width: 450px;

}

#btn1:hover{
    background-color: rgb(125, 123, 112);
    color: #000000;
}

#myresult{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 31px;
}
#resultcontainer{
    display: flex;
    justify-content:center;
    align-items: center;
    
}
form{margin-top:20px;}